
<div style="height: 97%; display: flex;
flex-direction: row; flex-wrap: wrap;">
    <div style="height: 47%; width:100%; position: relative;"> 
        <p style="background: rgb(195,210,228); font-size: 18px;">New Places To Add</p>
        <div style="height: 100%;width: 100%;">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
            <div class="container" *cdkVirtualFor="let entity of newMapEntitiesList | async">
                <h2 style="flex-basis: 20%; padding-left: 10px;">{{entity.position}}</h2>
                <button (click)="onClickCancel(entity)">cancel</button>
            </div>        
            <div style="margin-left: 35%;" *ngIf="(newMapEntitiesList | async)?.length else templateName">
                <button (click)="onClickSave()" >save</button>
            </div>
            <div><ng-template #templateName><h1>No location has been selected yet!</h1></ng-template> </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>

    <div style="margin-top: 7%;width: 100%; height: 52%; position: relative;">
        <p style="background: rgb(195,210,228); font-size: 18px">Places That Already Saved</p>
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport2">
            <div *cdkVirtualFor="let entity of mapEntities | async">
                <div *ngIf = "entity.entity.saved">  
                    <p (click)="flyToThePosition(entity.entity)">{{entity.entity.position}}</p>  
                </div> 
            </div> 
        </cdk-virtual-scroll-viewport>
    </div> 
</div>



